
  <!-- FORMULARIO DE CADASTRO PARA DETAILS -->
  <div class="card add-car">
    <h5 class="card-header">{{title}}</h5>
    <div class="card-body" *ngIf="!isLoanding">
      <form id="add-form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="model">Nome Completo : </label>
          <input type="text" [(ngModel)]="funcionario.nome" id="model" name="model" #model="ngModel" required
            class="form-control" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }"
            placeholder="Digite o nome" [disabled]="!editavel">
          <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
            <div *ngIf="model.errors.required">Modelo é obrigatório</div>
          </div>
        </div>

        <div class="form-group">
          <label for="color">Função na empresa :</label>
          <input type="text" [(ngModel)]="funcionario.funcao" id="color" name="color" #color="ngModel" required
            class="form-control" [ngClass]="{ 'is-invalid': f.submitted && color.invalid }" placeholder="Digite o cargo"
            [disabled]="!editavel">
          <div *ngIf="f.submitted && color.invalid" class="invalid-feedback">
            <div *ngIf="color.errors.required">Cor é obrigatória</div>
          </div>
        </div>

        <div class="form-group">
          <label for="price">Salario atual : </label>
          <input type="text" [(ngModel)]="funcionario.salary" id="salary" name="salary" 
          #price="ngModel" required
            class="form-control" [ngClass]="{ 'is-invalid': f.submitted && price.invalid }"
            placeholder="Digite o salario"  [disabled]="!editavel">
          <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
            <div *ngIf="price.errors.required">Preço é obrigatório</div>
          </div>
        </div>
        <div class="form-group">
          <label for="price">Data Nascimento : </label>
          <input type="date" [(ngModel)]="funcionario.birthday" id="birthday" name="birthday" 
          maxlength="8"
          #birthday="ngModel" required
          (keyup)="maskaraData()"
            class="form-control" [ngClass]="{ 'is-invalid': f.submitted && birthday.invalid }"
            placeholder="Digite a data nascimento"  [disabled]="!editavel">
          <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
            <div *ngIf="price.errors.required">Preço é obrigatório</div>
          </div>
        </div>
        <button *ngIf="enable" type="submit" class="btn btn-primary btn-add-car" [disabled]="!enable" (click)="editFuncionario(this.funcionario)">Salvar</button>
        <button class="btn btn-secondary ml-1 btn-add-car" routerLink="/funcionarios" >Voltar</button>
      </form>
    
    </div> 
    <div *ngIf="isLoanding">
      <app-loading class="spinnerTable"></app-loading>
    </div>
</div>
