
.btnCadastrar{
  background: #f7f7f7;
}


.tableCar{
  color: white;
}

.spinnerTable{
  margin-left: 380px;
}

.notData{
  text-align: center;
  font-size: 1em;
  width: 100%;
  font-weight: bold;
  justify-items: center;
  align-items: center;
}