<!-- TABELA -->
<div class="container">
  <div class="card list-car">
    <h5 class="card-header">{{subTitle}}</h5>
    <div class="card-body">
      <table class="table">
        <thead class="bg-dark tableCar">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Função</th>
            <th scope="col">Salário</th>
            <th scope="col">Aniversário</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody *ngIf="isLoanding">
            <app-loading class="spinnerTable"></app-loading>
        </tbody>
      
      <tbody *ngIf="funcionario && !isLoanding">
        <tr *ngFor="let funcionario of funcionarios">
          <td>{{funcionario.id}}</td>
          <td>{{funcionario.nome}}</td>
          <td>{{funcionario.funcao | uppercase}}</td>
          <td>{{funcionario.salary | currency:"BRL": true }}</td>
          <td>{{funcionario.birthday | date:"dd/MM/yyyy" }}</td>
          <td>
            <button type="button" class="btn btn-info btn-sm"
            [routerLink]="['details', funcionario.id, false]" >Detalhes</button>
            <button type="button" class="btn btn-warning btn-sm ml-1"
              [routerLink]="['editar', funcionario.id, true]" >Editar</button>
            <button type="button" class="btn btn-danger btn-sm ml-1" 
              (click)="deleteFuncionario(funcionario)" >Deletar</button> 
          </td>
        </tr>
      </tbody>
      </table>

      <div class="notData" *ngIf="funcionarios.length === 0">
        <span>Nao tem dados para ser apresentando...</span>
      </div>
    </div>
  </div>

  <div class="container bg-dark">
    <div class="card-body">
      <a class="nav-link" class="btn btn-primary" [routerLink]="['cadastrar']">Cadastrar</a>
    </div>
  </div>

</div>

<!-- 
<div class="container">
  <router-outlet></router-outlet>
</div> -->