
 <h2 class="text-left">Bem vindo a nossa pagina inicial</h2>

<div class="jumbotron">
  <div class="row">
    <div class="card bordCard col- col-sm-4" style="width: .1rem;">
      <img src="../../../assets/img/carros.jpg" class="card-img-top imgCard" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Carros</h5>
        <p class="card-text text-justify">
          Conheço os carros que temos a disposição de nossos clientes, 
          onde podemos dar o conforto necessário 
          que seja preciso para atende-lo da melhor forma.
        </p>
        <h6>Para saber mais acesse o menu carros...</h6>
      </div>
    </div>

    <div class="col-sm-3">
    </div>

    <div class="card bordCard col- col-sm-4" style="width: .1rem;">
      <img src="../../../assets//img/user.png" class="card-img-top imgCard" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Funcionários</h5>
        <p class="card-text text-justify">
          Estamos trabalhando para deixa disponível essa funcionalidade.
        </p>     
      </div>
    </div>
  </div>
  

</div>

<!-- 
<div class="container">
  <router-outlet></router-outlet>
</div> -->