.container {
  position: relative;
  margin-top: 30px;
  height: 80vh;
}

.add-car {
  margin-bottom: 30px;
}

.list-car {
  margin-bottom: 50px;
}

.btn-add-car {
  margin-right: 10px;
}

.tableCar {
  color: white;
}

.notData {
  text-align: center;
}

footer {
  position: fixed;
  width: 100%;
  height: 100vh;
  padding: 15px;
  padding-top: calc(100px - 70px);
  background-color: black;
  color: white;
  margin-bottom: 0px;
}

footer p {
  padding: 20px;
  text-align: center;
  font-size: 1rem;
}