.container {
  margin-top: 0px;
}

.add-car {
  margin-bottom: 0px;
}

.list-car {
  margin-bottom: 0px;
}

.btn-add-car {
  margin-right: 10px;
}

.tableCar {
  color: white;
}

.notData {
  text-align: center;
  font-weight: 600;
}

.card-header {
  text-align: center;
}